@mixin typo-base {
  font-family: 'Nanum Gothic', sans-serif;
  color: var(--text-color);
}

.typo {
  &-text {
    @include typo-base;

    font-size: 12px;
    letter-spacing: 0.02em;
  }

  &-headline {
    @include typo-base;

    font-size: 32px;
    letter-spacing: 0.045em;
  }

  &-title {
    @include typo-base;

    font-size: 24px;
    letter-spacing: 0.035em;
  }

  &-subtitle {
    @include typo-base;

    font-size: 14px;
    letter-spacing: 0.025em;
  }

  &-link {
    @include typo-base;

    font-size: 12px;
    letter-spacing: 0.02em;
    font-weight: bold;
    color: var(--link-color);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
